.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;

    table {
        width: 70%;
        height: 100%;
        white-space: nowrap;
        border-collapse: collapse;

        th {
            padding-bottom: 60px;
        }

        td {
            text-align: center;
            padding-bottom: 30px;
        }

        img {
            width: 200px;
        }

        .remove-button {
            width: 30px;
            cursor: pointer;
        }
    }
}